
<nav>
    <ul>
        <li><a href="workout" target="">Entrainement</a></li>
        <li><a href="" target="">Sommeil</a></li>
        <li><a href="" target="">Diète</a></li>
        <li><a href="" target="">Profil</a></li>
        <li class="Ac"><a href="" class="Home"><img src="Accueil.png" alt="" class="home"></a></li>
    </ul>
</nav>
<br>
<div id="jour">         
    <p id="auj"></p>
</div>
<div id="Programme">
    <h3>Programme du jour</h3>
        <table>
            <tr>
                <td>
                    <!--Programme du jour-->
                    <input type="text" placeholder="Programme du jour">
                </td>
            </tr>
        </table>
</div>
<br>
<div id="Evolution">
    <h3>Evolution</h3> <br>
</div>
<br>
<div id="Repas">
    <h3>Repas</h3><br>
</div>
<br>
<div id="Calorie">
    <h3>Compter les calories (kcal)</h3><br>
</div>
<br>
<div id="Forme">
    <h3>Etat de forme</h3><br>
</div>
</body>
</html>