<title><%= title %></title>

    <div>
        <form action="senMail" method="POST">
            <input type="email" id="mail" name="email">
            <label for="mail">Veuillez renseigner votre adresse électronique</label>
            <button>Valider</button>
        </form>
    </div>