<div class="topnav">
    <a href="/workout/training" class="nav_text">Sport</a>
    <a href="/workout/sleep" class="nav_text nav_second">Sommeil</a>
    <a href="/workout/home" class="active"> <svg viewBox="0 0 576 512" width="20%" title="home" class="svg">
        <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" />
      </svg></a>
    <a href="/workout/meal" class="nav_text nav_second">Diète</a>
    <a href="/workout/profiles" class="nav_text">Profil</a>
  </div> 

<br>
<div id="jour">         
    <p id="auj"></p>
</div>
<div id="Programme">
    <h3>Programme du jour</h3>
        <table>
            <tr>
                <td>
                    <!--Programme du jour-->
                    <input type="text" placeholder="Programme du jour">
                </td>
            </tr>
        </table>
</div>
<br>
<div id="Evolution">
    <h3>Evolution</h3> <br>
</div>
<br>
<div id="Repas">
    <h3>Repas</h3><br>
</div>
<br>
<div id="Calorie">
    <h3>Compter les calories (kcal)</h3><br>
</div>
<br>
<div id="Forme">
    <h3>Etat de forme</h3><br>
</div>
</body>
</html>