<br>

<div>
    <h3>Programme du jour</h3>
        <table>

            <% if(old){ %>
                <% for(var i=0; i < userData.workout.seances.length; i++) { %>
                    <tr>
                      <td class="test">Séance <%=i + 1%>:<%= userData.workout.seances[i].name %></td>
                    </tr>
                 <% } %>
            <% } else{ %> 
                <p>Pas encore d'entrainement ? Viens d'entrainer !</p> 
            <% } %>
                
        </table>
</div>

<br>

    <div class="">
    <% if(user.boost){ %>
        
            <p>Bravo tu es admin</p>
        
    <% } else{ %>  

        <p>Nan pas admin</p>

    <% } %>
    </div>

<br>

<div>
    <h3>Evolution</h3>

    <br>

</div>

<br>

<div class="Repas">
    <h3>Repas</h3>
    
    <br>

    <table class="table_planning_meal" align="center">
        <tr>
            <th>..</th>
            <th>..</th>
            <th>..</th>
            <th>..</th>      
        </tr>

        <tr>
            <td>Petit dej</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr class="meal_color">
            <td>Déjeuner</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>Diner</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
    <br>

</div>

<br>

<div class="calorie">
    
    <br>

    <h3>Compter les calories</h3>
    
    <br>

    <form action="/home/homeAddCal" method="POST">
        <input type="tel" name="calories" class="count_calorie" maxlength="5" placeholder="Entrer le nombre" pattern="[0-9]{1-5}">
        <button class="ok_count_calorie">OK</button>
        
        <br><br>

        <p class="result_count_calorie"><%= userData.health.calories %> kcal</p>

    <br><br>

    </form>      

    <form action="/home/homeResetCal" method="POST">
        <button class="reset_count_calorie">Reset</button>
    </form>       
</div>

<br>

<div id="Forme">
    <h3>Etat de forme</h3>
    
    <br>
    
</div>
