<html>
<head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width"/>
<title></title>
</head>

<body>
<%- body %>
</body>
<script>
    function savePseudo() {
        pseudo = document.getElementById('pseudo').value;
        localStorage.setItem('pseudo', pseudo); 

    }

    function appendPseudo() {
        const pseudo = localStorage.getItem('pseudo');
        document.getElementById('pseudo').setAttribute('value', pseudo);
        document.getElementById('logoutPseudo').setAttribute('value', pseudo);
    }

</script>
</html>