<html lang="fr">
<title><%= title %></title>
<head>
    <link href="/css/computer.css" media="(min-width: 480px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/mobil.css" media="(max-width: 480px)" type="text/css">
    
    <script
    src="https://www.gstatic.com/charts/loader.js">
    </script>
    <script src="https://kit.fontawesome.com/2af4903d5e.js" crossorigin="anonymous"></script>

    
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
 
<body>
  <% if(style){ %>
    <span class="navbar">
      <a href="/workout/training" class="nav_second">
        <i class="fa-solid fa-football fa-2xl"></i>
      </a>
  
      <a href="/meal_sleep/sleep" class="nav_second">
        <i class="fa-solid fa-moon fa-2xl"></i>
      </a>
  
      <a href="/home/home" class="nav_home">
        <i class="fa-solid fa-house-chimney fa-2xl"></i>
      </a>
  
      <a href="/meal_sleep/meal" class="nav_second">
        <i class="fa-solid fa-apple-whole fa-2xl"></i>
      </a>
  
      <a href="/profiles/profiles" class="nav_second">
        <i class="fa-solid fa-user fa-2xl"></i>
      </a>
    </span>
<% }%>

  <%- body %>
</body>
<script>

const wrapper = document.querySelector(".move_div"),
header = wrapper.querySelector("header");

function onDrag({movementX, movementY}){
    let getStyle = window.getComputedStyle(wrapper);
    let leftVal = parseInt(getStyle.left);
    let topVal = parseInt(getStyle.top);
    wrapper.style.left = `${leftVal + movementX}px`;
    wrapper.style.top = `${topVal + movementY}px`;
}
  header.addEventListener("mousedown", () => {
    header.classList.add("active");
    header.addEventListener("mousemove", onDrag);
});
  document.addEventListener("mouseup", () => {
    header.classList.remove("active");
    header.removeEventListener("mousemove", onDrag);
});


function closeCreateDiv () {
  const div = document.getElementById('wrapper');
  const btn = document.getElementById('btnDraggable');
  
  if (div.style.display == 'block') {
    div.style.display = 'none';
    choix()
  } else {
    div.style.display = 'block';
    div.style.position = 'absolute';
    choix()
  };
};

function intensity_div () {
  const div = document.getElementById('table_intensity_content');
  const btn = document.getElementById('btnTable');
  
  if (div.style.display == 'block') {
    div.style.display = 'none';
  } else {
    div.style.display = 'block';
    div.style.position = 'absolute';
  };
};

function choix () {
  const select = document.getElementById('type_seance');
  const choix = select.options[select.selectedIndex].value;
  const a = document.getElementById('musculation');
  const b = document.getElementById('running');
  if (choix == 'musculation') {
    a.style.display = 'block';
    b.style.display = 'none';
  } else {
    a.style.display = 'none';
    b.style.display = 'block';
  };
};



</script>
</html>
