<html>
<head>
    <link href="/css/computer.css" media="(min-width: 768px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/mobil.css" media="(max-width: 480px)" type="text/css">
    <meta name="viewport" content="width=device-width"/>
</head>

<body>
<%- body %>
</body>
<script>
    
    function savePseudo() {
        pseudo = document.getElementById('pseudo').value;
        localStorage.setItem('pseudo', pseudo);
    }

    function appendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('pseudo').setAttribute('value', pseudo);
        document.getElementById('logoutPseudo').setAttribute('value', pseudo);
    }

    function mealAppendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('ok_count_calorie').setAttribute('value', pseudo);
        document.getElementById('reset_count_calorie').setAttribute('value', pseudo);
    }

    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    } 

</script>
</html>