<html>
<head>
    <link href="/css/computer.css" media="(min-width: 768px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/mobil.css" media="(max-width: 480px)" type="text/css">
    <meta name="viewport" content="width=device-width"/>
</head>

<body onload="doneDate()">
<%- body %>
</body>
<script>
    
    function savePseudo() {
        pseudo = document.getElementById('pseudo').value;
        localStorage.setItem('pseudo', pseudo);
    }

    function appendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('pseudo').setAttribute('value', pseudo);
        document.getElementById('logoutPseudo').setAttribute('value', pseudo);
    }

    function mealAppendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('ok_count_calorie').setAttribute('value', pseudo);
        document.getElementById('reset_count_calorie').setAttribute('value', pseudo);
    }

    function trainingAppendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('addTraining').setAttribute('value', pseudo)
    }

    const modal = document.getElementById("myModal");
    const btn = document.getElementById("myBtn");
    const span = document.getElementsByClassName("training_close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    } 

    function addExercice() {
      const element = '<div><h5 class="training_create_title">Les exercices de la séance</h5><br>Nombre de répétition:<input type="number" name="" id="" min="1" max="50" value="1" required><br>Nombre de série:<input type="number" name="" id="" min="1" max="10" value="1" required><br>Temps de repos:<input type="number" name="" id="" min="0" max="59" value="30" required><select name="" id=""><option value="">Seconde</option><option value="">Minute</option></select><br>Exercice:<select name="exercice" id="" required><option value="pompe">pompe</option><option value="squat">squat</option></select><br></div>'
      let section = document.querySelector('section');
      var para = document.createElement('div');
      para.className = 'aa'
      para.innerHTML = element;
     section.appendChild(para);
    }




</script>
</html>
