<html>
<head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width"/>
<title></title>
</head>

<body>
<%- body %>
</body>
<script>
    function savePseudo() {
        pseudo = document.getElementById('pseudo').value;
        alert(pseudo)
        localStorage.setItem('pseudo', pseudo); 

    }

    function appendPseudo() {
        document.getElementById('hidden_pseudo').setAttribute('value', localStorage.getItem('pseudo'));
        document.getElementById('hidden_pseudo').value = localStorage.getItem('pseudo');
    }

</script>
</html>