<html lang="fr">
<head>
    <link href="/css/computer.css" media="(min-width: 768px)" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/mobil.css" media="(max-width: 480px)" type="text/css">
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>

<body>
<%- body %>
</body>
<script>
    
    function savePseudo() {
        pseudo = document.getElementById('pseudo').value;
        localStorage.setItem('pseudo', pseudo);
    }

    function appendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('pseudo').setAttribute('value', pseudo);
        document.getElementById('logoutPseudo').setAttribute('value', pseudo);
    }

    function mealAppendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('ok_count_calorie').setAttribute('value', pseudo);
        document.getElementById('reset_count_calorie').setAttribute('value', pseudo);
    }

    function trainingAppendPseudo() {
        const pseudo = localStorage.getItem('pseudo');

        document.getElementById('addTraining').setAttribute('value', pseudo)
    }


// Ouvre une popup sur la page d'entrainement    

    const modal1 = document.getElementById("myModal");
    const btn = document.getElementById("myBtn");
    const span = document.getElementsByClassName("training_close")[0];

    btn.onclick = function() {
  
      modal1.style.display = "block";
    }

    span.onclick = function() {
      modal1.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal1 || event.target == modal2 || event.target == modal3) {
        modal1.style.display = "none";
        modal2.style.display = "none";
        modal3.style.display = "none";
      }
    } 
  

  // Ouvre une popup sur la page pour voir tt les entrainements possibles    

    const modal2 = document.getElementById("mySecondModal");
    const button = document.getElementById("See_exercice");
    const Close = document.getElementsByClassName("training_close")[1];

    button.onclick = function() {
  
      modal2.style.display = "block";
    }

    Close.onclick = function() {
      modal2.style.display = "none";
    }
  

// Ouvre une popup pour voir le degrès d'intensité

    const modal3 = document.getElementById("myThirdModal");
    const Button = document.getElementById("See_intensity");
    const close = document.getElementsByClassName("training_close")[2];

    Button.onclick = function() {
  
      modal3.style.display = "block";
    }

    close.onclick = function() {
      modal3.style.display = "none";
    }

  // Gère la création d'exercice 
      const addExercice = document.querySelector(".addExercice")  
      let firstEx = document.querySelector(".content_exercice")
      let secondEx = document.querySelector(".content_exercice2")
      let thirdEx = document.querySelector(".content_exercice3")
      let fourEx = document.querySelector(".content_exercice4")
      let fiveEx = document.querySelector(".content_exercice5")
      let deleteExercice2 = document.getElementById("deleteEx2") 
      i = 0
      
      addExercice.addEventListener("click", () => {
        if (i == 0){
          secondEx.style.display = "block"
        };
        if (i == 1){
          thirdEx.style.display = "block"
        }
        if (i == 2){
          fourEx.style.display = "block"
        }
        if (i == 3){
          fiveEx.style.display = "block"
        }
        i = i + 1
      })

      deleteEx2.addEventListener("click", () => {
        secondEx.style.display = "none"
        i = i - 1
      });

      deleteEx3.addEventListener("click", () => {
        thirdEx.style.display = "none"
        i = i - 1
      });

      deleteEx4.addEventListener("click", () => {
        fourEx.style.display = "none"
        i = i - 1
      });

      deleteEx5.addEventListener("click", () => {
        fiveEx.style.display = "none"
        i = i - 1
      })


   


  // Fin de la gestion de création d'exercice

  // Gère la sélection du choix de l'exercice

  
    let selected = document.querySelector(".selected");
    let optionsContainer = document.querySelector(".options-container");
    let searchBox = document.querySelector(".search-box input");
    let optionsList = document.querySelectorAll(".option");

    selected.addEventListener("click", () => {
    optionsContainer.classList.toggle("active");
    searchBox.value = "";
    filterlist("");

    if (optionsContainer.classList.contains("active")) {
      searchBox.focus();
      }
    });


    optionsList.forEach(o => {
      o.addEventListener("click", () => {
        selected.innerHTML = o.querySelector("label").innerHTML;
        optionsContainer.classList.remove("active");
        document.getElementById('exerciceChoice').value = selected.innerHTML
      });
    });

    searchBox.addEventListener("keyup", function(e) {
      filterList(e.target.value);
    });

    const filterList = searchTerm => {
      searchTerm = searchTerm.toLowerCase();
      optionsList.forEach(option => {
        let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
        if (label.indexOf(searchTerm) != -1) {
          option.style.display = "block";
        } else {
          option.style.display = "none";
        }
      });
    };

  // Fin de la gestion de menu de l'exercice 


        // const element = '<br><div class="Content_exercice">'+
        //   '<div class="select-box"><div class="op">'+
        //   '<div class="Option"><input type="radio"class="radio"id="Pompe"name="category" value="" style="display: none"/><label for="automobiles">Pompe</label></div>'+
        //   '<div class="Option"><input type="radio" class="radio" id="Squat" name="category" value=""/><label for="film">Squat</label></div>'+
        //   '<div class="Option"><input type="radio" class="radio" id="Traction" name="category" value=""/><label for="science">Traction</label></div></div>'+
        //   '<div class="select" id="selected" onclick="test()">Sélectionner un exercice</div>'+
        //   '<div class="Search-box"><input type="text" placeholder="Trouver un exercice" name="exerice" id="Choice" value=""/></div></div>'+
        //   '<br>Nombre de répétition:<input type="number" name="repetition" id="" min="1" max="50" value="1" required>'+
        //   '<br>Nombre de série:<input type="number" name="serie" id="" min="1" max="10" value="1" required>'+
        //   '<br>Temps de repos:<label for=""><input type="number" name="reposMin" id="" min="0" max="30" value="0" required>Minute</label>'+
        //   '<label for=""><input type="number" name="reposSec" id="" min="0" max="59" value="30" required>Seconde</label><br><br></div>'+
        //   '<style>.rad {display = "none}</style>'
        
        // let section = document.querySelector('section');
        // let seance = document.createElement('div');

        // seance.innerHTML = element;
        // section.appendChild(seance);


</script>
</html>
