<div class="container">
    <form class="form" id="login" action="/users/login" method="POST">
        <h1 class="form_title">Connexion</h1>
        <div class="form_message form_message-error"></div>
        <div class="form__input-group">
          <input type="text" class="form_input" autofocus placeholder="Pseudo" id="pseudo">
          <div class="form_input-error-message"></div>
        </div>
        <div class="form_input-group">
          <input type="password" class="form_input" autofocus placeholder="Mot de passe" id="mdp">
          <div class="form_input-error-message"></div>
        </div>
        <button class="form_button" type="submit" id="connection">Connexion</button>
    </form>
    <form>
      <p class="form_text">
        <a href="#" class="form_link">Mot de passe oublié ?</a>
      </p>
      <p class="form_text">
        <a class="form_link" href="/users/register" id="linkCreateAccount">Vous n'avez pas de compte ? Créez-en un.</a>
      </p>
    </form>
</div>
