<br>

<div class="calorie">
    
    <br>

    <h3>Compter les calories</h3>
    
    <br>

    <form action="/workout/addCal" method="POST">
        <input type="tel" name="cal" class="count_calorie" maxlength="5" placeholder="Entrer le nombre" pattern="[0-9]{1-5}">
        <button class="ok_count_calorie">OK</button><br><br>
        <p class="result_count_calorie"><%= calorie %> kcal</p>

        <br><br>

    </form>        

    <form action="/workout/resetCal" method="POST">
        <button class="reset_count_calorie">Reset</button>
    </form>

</div>

<br>

<div class="Repas">

    <h3>Repas</h3>
    
    <br>

    <table class="table_planning_meal" align="center">
        <tr>
            <th>..</th>
            <th>..</th>
            <th>..</th>
            <th>..</th>      
        </tr>

        <tr>
            <td>Petit dej</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr class="meal_color">
            <td>Déjeuner</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    
        <tr>
            <td>Diner</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
    <br>

</div>
        
<br><br>

<div class="needed"><br>
    <div class="meal_align">
        <h3>Besoin</h3>
            <p>Le corps a besoin de beaucoup de chose pour être en bonne santé. On entend beaucoup parler de protéines. Mettons tout ça au clair. </p>
        
            <h4 class="subtitles">Les marcronutriments</h4>
                <p class="subtext">Les macronutriments sont constitués des glucides, des protéines et des lipides. Ce sont les nutriments provenant de notre alimentation qui fournissent de l’énergie à notre corps et assurent le bon fonctionnement de ses fonctions vitales. Voici tout ce que vous devez savoir à leur sujet. </p><br>

        <div class="meal_number">
            <h3>Quelle quantité d'énergie nous fournissent les marcronutriments ?</h3>
                <ul class="number_list">
                    <li><strong>Glucides : </strong> 4 kcal / gramme</li>
                    <li><strong>Protéines : </strong >4 kcal / gramme</li>
                    <li><strong>Lipides : </strong> 9 kcal / gramme</li>
                </ul>
        </div>
        
        <br>

</div>


<!--Les glucides-->
<div>
    <div class="meal_align">
        <h1 class="meal_title">Les glucides:</h1>
        <p>Les glucides sont la sources principales d'énergie pour notre cerveau et pour nos muscles. Il y a plusieurs types de glucides, classés de manière suivante:</p>
            
        <ul>
                <li>les monosaccharides : glucose (sucre de raisin), fructose (sucre de fruits) et galactose (sucre du lait)</li>
                <li>les disaccharides : saccharose (sucre industriel), lactose</li>
                <li>les oligosaccharides : raffinose</li>
                <li>les polysaccharides, appelés aussi glucides complexes : amylopectine (amidon végétal), glycogène (amidon animal), inuline</li>
            </ul>
            <p> Les glucides sont stockés dans le corps de deux façons : sous forme de glycogène dans le foie (⅓) et dans les muscles (⅔). Ces réserves de glycogène sont utilisées par le corps comme source d’énergie pendant un effort physique et sont ensuite ravitaillées par le biais d’une alimentation riche en glucides. <br><br>
                Il est préférable de privilégier les glucides complexes pour éviter la prise de gras.</p>
    
            <br><br>   
    
    </div>
    
    <img src="/images/glucides.jpg" alt="Image montrant des aliments contenant majoritairement des glucides." class="meal_glucide">
    
    <br>
    
    <div>
        <h2 class="meal_middle_title">On trouve les glucides complexes dans :</h2>
                <ul>
                    <li>Fruits</li>
                    <li>Légumes</li>
                    <li>Légumineuses</li>
                    <li>Céréales et graines</li>
                    <li>Patates douces</li>
                    <li>Produits au blé complet</li>
                    <li>Riz nature</li>
                </ul>
    
        <h2 class="meal_middle_title">On trouve les glucides simples dans :</h2>
                <ul>
                    <li>Le sucre et sucrerie</li>
                    <li>Les produits à base de farine blanchie ou raffinée</li>
                    <li>Les jus de fruits et boissons sucrées</li>
                    <li>Les gâteaux industriels</li>
                </ul>
    </div>
</div>


<!--Les protéines-->
<div>
    <h1 class="meal_title">Les protéines:</h1>

    <img src="/images/proteine.jpg" alt="Image montrant des aliments contenant majoritairement des protéines." class="meal_glucide"><br><br>

    <div class="meal_align">
        <p>Les protéines sont constitués d'un assemblage d'acides aminés reliés entre eux par des chaînes. Il existe 3 types de protéines:</p>
                <ul>
                    <li>Acides aminés</li>
                    <li>Conditionnellement essentiels</li>
                    <li>Non essentiels</li>
                </ul> 
                
                <br>

                <p>
                    Les protéines agissent comme hormone, enzyme et anticorps du système immunitaire qui nous protègent contre les infections. On les retrouve aussi dans certaines structures du corps (tissus conjonctifs, peau, cheveux et fibres musculaires). <br><br>
                    Environ 60 % des protéines présentent dans notre corps sont stockées dans les muscles. Mais ces réserves ne sont pas utilisées comme source d’énergie directe, mais plutôt comme éléments de construction pour le corps. <br><br>
                    En règle générale, il est recommandé de consommer quotidiennement 1 g de protéines par kg de poids corporel. Mais si votre objectif est de prendre de la masse musculaire, vous pouvez augmenter la quantité (entre 1,2 et 1,8 g par kg de poids corporel). Vous êtes un sportif de force ? Alors pensez toujours à consommer des protéines combinées à des glucides (ratio 1:3) après l’entraînement. Pourquoi ? Après avoir ingérer des glucides, votre corps va libérer de l’insuline, une hormone favorisant l’anabolisme et qui va donc stimuler la croissance des muscles.
                </p>   

                <br><br>

    </div>

    <h2 class="meal_middle_title">Voici quelques aliments riches en protéines :</h2>
                <ul>
                    <li>La viande</li>
                    <li>Poisson et fruits de mer</li>
                    <li>Lait et produit laitier</li>
                    <li>Oeufs</li>
                    <li>Légumineuses</li>
                    <li>Les produits à base de céréales</li>
                    <li>Les noix</li>
                    <li>Les produits à base de soja</li>
                </ul>
</div>


<!--Les lipides-->
<div>
    <h1 class="meal_title">Les lipides:</h1>
    
    <img src="/images/lipides.jpg" alt="Image montrant des aliments contenant majoritairement des lipides." class="meal_glucide"><br><br>
                    
    <div class="meal_align">
        <p>
            Les lipides sont vecteurs de goûts. On peut les trouver sous forme solide ( beurre ) ou sous forme liquide ( huile ).
            Les lipides sont considérés comme du bon gras. Les acides gras sont classés de manière suivante : 
        </p>
        
        <br><br>

    </div>

    <table class="meal_table">
        <tr>
            <th>Acides gras saturés</th>
            <th>Acides gras mono et poly insaturés</th>
            <th>Acides gras trans</th>
        </tr>
        <tr>
            <td>Viandes, produits laitiers, beurre, huile de coco</td>
            <td>Huile d'olive, de lin, de colza, de germe de blé et de cathame, poissons d'eau froide, noix, avocats</td>
            <td>Pâtisseries, fritures, certaines margarines</td>
        </tr>
    </table>

    <br>

    <div class="meal_align">

        <p>
            Les acides gras oméga-3 et oméga-6 font aussi partie des acides gras poly-insaturés qui sont essentiel et doivent donc être obtenus par le biais de l’alimentation. On les retrouve dans les poissons d’eau froid (saumon, hareng, maquereau), l’huile de carthame, l’huile de lin et les noix. Le ratio oméga 3 / oméga 6 devrait être d’environ 1:5. <br><br>
            Les acides gras insaturés sont indispensables pour réguler le métabolisme et contribuent à l’élasticité des membranes cellulaires. Ils améliorent également la fluidité du sang et sont importants pour la croissance et la régénération des cellules. <br><br>
            En plus de fournir de précieux acides gras, les lipides facilitent également l’absorption des vitamines A, D, E et K, dites liposolubles. Les graisses animales quant à elles contiennent aussi du cholestérol, qui, synthétisé à travers l’exposition au soleil, va fournir de la vitamine D à la peau. 
        </p>

        <br><br>

        <p> La proportion de graisses dans notre alimentation devrait se trouver entre 30 à 35 %, avec 20 à 25 % de graisses insaturées et un maximum de 10 % de graisses saturées. <br><br>                                      </p>
       
    </div> 
</div>
            
     
<div class="meal_conclusion">
    <p>
        <u>
            <h1 class="meal_title_conclusion">Conclusion: </h1>
        </u>    

        Les 3 macronutriments sont absolument essentiels à votre santé et pour assurer certaines fonctions de votre organisme. Mangez équilibré afin de fournir à votre corps tout ce dont il a besoin pour fonctionner à 100 %.
    </p>
</div>
                   
<br>


<div class="difference"><br>
    <h3>Ecart</h3>
    <div class="meal_align">
        <p>Sur le plan alimentaire, se faire plaisir est important. On peut donc aller manger gras mais il ne faut pas que cela deviennent une habitude. Il faut aussi gérer les quantités pour pas que cela devienne néfaste pour les performances. <br><br>
    </div>
</div>

</div>
    <div class="help"><br>
        <h3>Conseil</h3><br><br>
</div>

<br>