
        <nav>
            <ul>
                <li><a href="/workout/training" target="">Entrainement</a></li>
                <li><a href="/workout/sleep" target="">Sommeil</a></li>
                <li><a href="/workout/meal" target="">Diète</a></li>
                <li><a href="/workout/profiles" target="">Profil</a></li>
                <li class="Ac"><a href="/workout/home" class="Home"><img src="Accueil.png" alt="" class="home"></a></li>
            </ul>
        </nav>
        <br>
        <!--Grosse boîte-->
            <div class="big_box">
                <!--Boîte de profil-->
                    <div class="profil_box" >
                        <h2>-- Utilisateur --</h2>
                        <p id="p1"></p>
                        <p id="p2"></p>
                        <p id="p3"></p>
                        <p id="p4"></p>
                        <p id="p5"></p>
                        <p id="p6"></p>
                        <p id="no"></p>
                    </div>
                <!--Boîte libre-->
                <form action="/sign/changePassword" method="POST">
                    <div class="second_box">
                        <h2>Changer le mot de passe</h2>
                        <input type="password" placeholder="Ancien mot de passe" class="input_box" name="old" id=""> <br><br>
                        <input type="password" placeholder="Nouveau mot de passe" class="input_box" name="new" id=""><br><br>
                        <input type="password" placeholder="Confirmer le nouveau mot de passe" class="input_box" name="new2" id=""><br><br>
                        <input type="hidden" id="pseudo" name="pseudo">
                        <button class="submit" id="" onclick="appendPseudo()">Confirmer</button>
                    </div>
                </form>

            </div>
            </tr>
        </table>

        <form class="form" id="logout" action="/sign/logout" method="POST">
            <div class="form__input-group"> 
              <input type="hidden" id="logoutPseudo" name="logoutPseudo">
            </div>
            <button class="deco" type="submit" id="deconnection" onclick="appendPseudo()">Déconnexion</button>
        </form>
    </body>
