
        <nav>
            <ul>
                <li><a href="/workout/training" target="">Entrainement</a></li>
                <li><a href="/workout/sleep" target="">Sommeil</a></li>
                <li><a href="/workout/meal" target="">Diète</a></li>
                <li><a href="/workout/profiles" target="">Profil</a></li>
                <li class="Ac"><a href="/workout/home" class="Home"><img src="Accueil.png" alt="" class="home"></a></li>
            </ul>
        </nav>
        <br>
        <!--Grosse boîte-->
            <div class="big_box">
                <!--Boîte de profil-->
                    <div class="profil_box" >
                        <h2>-- Utilisateur --</h2>
                        <p id="p1"></p>
                        <p id="p2"></p>
                        <p id="p3"></p>
                        <p id="p4"></p>
                        <p id="p5"></p>
                        <p id="p6"></p>
                        <p id="no"></p>
                    </div>
                <!--Boîte libre-->
                    <div class="second_box">
                        <h2>Changer le mot de passe</h2>
                        <input type="password" placeholder="Ancien mot de passe" class="input_box"> <br><br>
                        <input type="password" placeholder="Nouveau mot de passe" class="input_box"><br><br>
                        <input type="password" placeholder="Confirmer le nouveau mot de passe" class="input_box"><br><br>
                        <button class="submit">Confirmer</button>
                    </div>

            </div>
            </tr>
        </table>
        <a href="/sign/login" class="deco" id="botton">Déconnexion</a>
        <p id="heure" class="time"></p>
    </body>
