<title><%= title %></title>
<div class="topnav">
    <a href="/workout/training"><svg xmlns="http://www.w3.org/2000/svg" class="svg_ball"  viewBox="0 0 22 22" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="10" y1="12" x2="12" y2="14"></line>
        <line x1="12" y1="10" x2="14" y2="12"></line>
        <path d="M8 21a5 5 0 0 0 -5 -5"></path>
        <path d="M16 3c-7.18 0 -13 5.82 -13 13a5 5 0 0 0 5 5c7.18 0 13 -5.82 13 -13a5 5 0 0 0 -5 -5"></path>
        <path d="M16 3a5 5 0 0 0 5 5"></path>
     </svg></a>
    <a href="/workout/sleep" class="nav_text nav_second"><svg xmlns="http://www.w3.org/2000/svg" class="svg moon" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
      </svg></a>
    <a href="/workout/home" class="active"> <svg viewBox="0 0 576 512" width="20%" title="home" class="svg">
        <path class="home" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" />
      </svg></a>
    <a href="/workout/meal" class="nav_second"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lemon" width="24" height="24" viewBox="0 0 22 22" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M17.536 3.393c3.905 3.906 3.905 10.237 0 14.143c-3.906 3.905 -10.237 3.905 -14.143 0l14.143 -14.143"></path>
        <path d="M5.868 15.06a6.5 6.5 0 0 0 9.193 -9.192"></path>
        <path d="M10.464 10.464l4.597 4.597"></path>
        <path d="M10.464 10.464v6.364"></path>
        <path d="M10.464 10.464h6.364"></path>
     </svg></a>
    <a href="/workout/profiles" class="nav_people"><svg xmlns="http://www.w3.org/2000/svg" width="20%"  class="svg people" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg></a>

</div>  <br>
        <br><br><br><br>


        <div class="body_div">
            <div class="calender_div">
                <h1>Plannification des entrainements</h1>

                <div class="container_button_workout">
                    <button id="myBtn" class="create_workout_button button_create">Créer son entrainement</button>
                </div><br>

                <div class="display_workout">
                    Titre + date + heure
                </div><br>

                <div class="container_button_workout">
                    <button id="See_exercice" class="create_workout_button button_see">Voir les exercices</button>
                    <button id="change_exercice" class="create_workout_button button_change">Modifier exercices</button>
                </div>
               
                
<!--Première pop-up pour la création de l'entrainement-->
<div id="myModal" class="training_modal">
    <div class="modal_training_content">
      <span class="training_close">&times;</span>
      <form action="/workout/addWorkout" method="POST">
            <h1>Création de l'entrainement</h1>

            <h5 class="training_create_title">Choisir la date, l'heure et la durée de la séance</h5>

                Date:
                <input type="date" name="date" id="" >

                Durée:
                <input type="number" max="5" value="1" min="0" name="durationHeure">h 
                <input type="number" max="59" value="0" min="0" name="durationMin">min <br>


                Heure:
                <input type="time"><br>

                Nom de la séance:
                <input type="text" name="training_name" id="training_name" placeholder="Nom de la séance" value=""><br>

            <h5 class="training_create_title">Le type de la séance</h5>
                
                Type:
                <select name="type" id="" required>
                    <option value="musculation">Musculation</option>
                    <option value="course">Course</option>
                </select><br>

            <div>
                <h5 class="training_create_title">Les exercices de la séance</h5> 
                <div class="addExercice"  onclick="addExercice()">
                    <label for="plus" class="">
                        <p class="plus" id="plus">Ajouter un exercice</p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="plus icon" viewBox="0 0 16 16" id="plus">
                                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                        </svg>
                    </label>
                </div>  
                
                <br>  
    
                <section>
                        
                    <div class="content_exercice">  

                        <div class="select-box">

                          <div class="options-container">

                                <div class="option">
                                    <input type="radio"class="radio"id="Pompe"name="category" value=""/>
                                    <label for="Pompe">Pompe</label>
                                </div>
                  
                                <div class="option">
                                    <input type="radio" class="radio" id="Squat" name="category" value=""/>
                                    <label for="Squat">Squat</label>
                                </div>
                    
                                <div class="option">
                                    <input type="radio" class="radio" id="Traction" name="category" value=""/>
                                    <label for="Traction">Traction</label>
                                </div>

                          </div>
                  
                          <div class="selected">
                            Sélectionner un exercice
                          </div>
                  
                          <div class="search-box">
                            <input type="text" placeholder="Trouver un exercice" name="exerice" id="exerciceChoice" value="" autocomplete="off"/>
                          </div>

                        </div>

                            Nombre de répétition:
                            <input type="number" name="repetition" id="" min="1" max="50" value="1" required><br>

                            Nombre de série:
                            <input type="number" name="serie" id="" min="1" max="10" value="1" required><br>

                            Temps de repos:
                            <input type="number" name="reposMin" id="" min="0" max="30" value="0" required> Minute

                            <input type="number" name="reposSec" id="" min="0" max="59" value="30" required> Seconde
                            <br><br>
                            
                    </div>
                </section>

                
               
            <h5 class="training_create_title">Les notes de la séance</h5>
                <input type="text" placeholder="Détail" name="detail">

          <input type="hidden" name="pseudo" id="addTraining">
        </div>
          <button type="submit" onclick="trainingAppendPseudo()">Valider</button> 
      </form>
    </div>
</div> 
<!--Fin de la pop-up de création d'entrainement-->
<!--Début de la pop-up pour voir tout les exercices possibles-->

<div id="mySecondModal" class="see_training_modal">
    <div class="modal_training_content">
        <span class="training_close">&times;</span>
        <h3>Liste des exercices qui existent</h3>
    </div>
</div>

<!--Fin de la pop-up pour voir tt les exerices possibles-->


            </div><br><br>
            <div class="work_div">
                  <div class="work_yes">
                    <h1>Séance faite</h1>
                        <div class="done_none">
                            <input type="radio" class="yes work_done" name="done" id="yes">
                            <label for="yes">Fait</label>
                            <input type="radio" class="little work_done" name="done" id="little">
                            <label for="little">Fait en partie</label>
                            <input type="radio" class="no work_done" name="done" id="no">
                            <label for="no">Non-fait</label>
                        </div>
                
                        <h3 class="little_title">Difficulté, couleur reste qd clique</h3>
                    <table class="difficulty" align="center">
                        <tr>
                            <td class="a" id="1">1</td>
                            <label for="1"></label>
                            <td class="a" id="2">2</td>
                            <label for="2"></label>
                            <td class="a" id="3">3</td>
                            <label for="3"></label>
                            <td class="a" id="4">4</td>
                            <label for="4"></label>
                            <td class="a" id="5">5</td>
                            <label for="5"></label>
                            <td class="a" id="6">6</td>
                            <label for="6"></label>
                            <td class="a" id="7">7</td>
                            <label for="7"></label>
                            <td class="a" id="8">8</td>
                            <label for="8"></label>
                            <td class="a" id="9">9</td>
                            <label for="9"></label>
                            <td class="a" id="10">10</td>
                            <label for="10"></label>
                        </tr>
                    </table><br>
                    <div class="note_div" align=center>
                        <h3 class="little_title">Note</h3>
                        <p>Très dur</p>
                    </div>
                    <button class="value_button">Valider</button>
                  </div>

                  <div class="work_no">
                    <h1>Séances à venir</h1>
                    <% if(ok){ %>
                        <p><%= date %>: <%= detail %>, <%= duration %></p>
                      <% } else{ %>  
                     <% } %>
                  </div>

                </div><br>
            <div class= "evolution">
                <h1>Evolution</h1>
            </div><br><br><br>
            <div class="documentary">
                <h1>Documentation</h1>
            </div><br>
    </div>
</div>




    </body>
</html>   