<div class="topnav">
    <a href="/workout/training" class="nav_text">Sport</a>
    <a href="/workout/sleep" class="nav_text nav_second">Sommeil</a>
    <a href="/workout/home" class="active"> <svg viewBox="0 0 576 512" width="20%" title="home" class="svg">
        <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" />
      </svg></a>
    <a href="/workout/meal" class="nav_text nav_second">Diète</a>
    <a href="/workout/profiles" class="nav_text">Profil</a>
  </div> 

        <br><br>
        <div class="body_div">
            <div class="calender_div">
                <h1>Plannification des entrainements</h1>
                <select name="" id="work_type">
                    <option value="">Musculation</option>
                    <option value="">Course</option>
                </select>
                <!--Dans une pop-up-->
                <select name="" id="work_exercice" class="work_exercice">
                    <!--Apparition des options de musculation avec js-->
                </select>
                <!--Dans une pop-up-->
                <select name="" id="running_exercice" class="running_exercice">
                    <!--Apparition des options de course avec js-->
                </select>
                <input type="text">
                <select name="" id="work_date" class="work_date">
                    <option value="" id="date">Aujourd'hui</option>
                    <option value="" id="date1">Demain</option>
                    <option value="" id="date2"></option>
                    <option value="" id="date3"></option>
                </select>

                <select name="" id="" class="work_time">
                    <option value="" selected>9:15</option>
                    <option value="">9:30</option>
                    <option value="">9:45</option>
                    <option value="">10:00</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>

                <button id="valid">Valider</button>
            </div><br><br>
            <div class="work_div">
                  <div class="work_yes">
                    <h1>Séance faite</h1>
                    <ul class="do_work">
                        <li class="yes">Fait</li>
                        <li class="little">Fait en partie</li>
                        <li class="no">Non-fait</li>
                    </ul>
                        <h3 class="little_title">Difficulté, couleur reste qd clique</h3>
                    <table class="difficulty" align="center">
                        <tr>
                            <td class="a" id="1">1</td>
                            <label for="1"></label>
                            <td class="a" id="2">2</td>
                            <label for="2"></label>
                            <td class="a" id="3">3</td>
                            <label for="3"></label>
                            <td class="a" id="4">4</td>
                            <label for="4"></label>
                            <td class="a" id="5">5</td>
                            <label for="5"></label>
                            <td class="a" id="6">6</td>
                            <label for="6"></label>
                            <td class="a" id="7">7</td>
                            <label for="7"></label>
                            <td class="a" id="8">8</td>
                            <label for="8"></label>
                            <td class="a" id="9">9</td>
                            <label for="9"></label>
                            <td class="a" id="10">10</td>
                            <label for="10"></label>
                        </tr>
                    </table><br>
                    <div class="note_div" align=center>
                        <h3 class="little_title">Note</h3>
                        <p>Très dur</p>
                    </div>
                  </div>
                  <div class="work_no">
                    <h1>Séances à venir</h1>
                    <p id="job">Type: date et heure + bouton déttail pop up</p>
                  </div>

                </div><br>
            <div class= "evolution">
                <h1>Evolution</h1>
            </div><br><br><br>
            <div class="documentary">
                <h1>Documentation</h1>
            </div><br>
            </div>
        </div>
    </body>
</html>   