
        <nav>
            <ul>
                <li><a href="/workout/training" target="">Entrainement</a></li>
                <li><a href="/workout/sleep" target="">Sommeil</a></li>
                <li><a href="/workout/meal" target="">Diète</a></li>
                <li><a href="/workout/profiles" target="">Profil</a></li>
                <li class="Ac"><a href="/workout/home" class="Home"><img src="/public/images/Accueil.png" alt="" class="home"></a></li>
            </ul>
        </nav>
        <br><br>
        <div class="body_div">
            <div class="calender_div">
                <h1>Plannification des entrainements</h1>
                <select name="" id="work_type">
                    <option value="">Musculation</option>
                    <option value="">Course</option>
                </select>
                <!--Dans une pop-up-->
                <select name="" id="work_exercice" class="work_exercice">
                    <!--Apparition des options de musculation avec js-->
                </select>
                <!--Dans une pop-up-->
                <select name="" id="running_exercice" class="running_exercice">
                    <!--Apparition des options de course avec js-->
                </select>
                <input type="text">
                <select name="" id="work_date" class="work_date">
                    <option value="" id="date">Aujourd'hui</option>
                    <option value="" id="date1">Demain</option>
                    <option value="" id="date2"></option>
                    <option value="" id="date3"></option>
                </select>

                <select name="" id="" class="work_time">
                    <option value="" selected>9:15</option>
                    <option value="">9:30</option>
                    <option value="">9:45</option>
                    <option value="">10:00</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>

                <button id="valid">Valider</button>
            </div><br><br>
            <div class="work_div">
                  <div class="work_yes">
                    <h1>Séance faite</h1>
                    <ul class="do_work">
                        <li class="yes">Fait</li>
                        <li class="little">Fait en partie</li>
                        <li class="no">Non-fait</li>
                    </ul>
                        <h3 class="little_title">Difficulté, couleur reste qd clique</h3>
                    <table class="difficulty" align="center">
                        <tr>
                            <td class="a" id="1">1</td>
                            <label for="1"></label>
                            <td class="a" id="2">2</td>
                            <label for="2"></label>
                            <td class="a" id="3">3</td>
                            <label for="3"></label>
                            <td class="a" id="4">4</td>
                            <label for="4"></label>
                            <td class="a" id="5">5</td>
                            <label for="5"></label>
                            <td class="a" id="6">6</td>
                            <label for="6"></label>
                            <td class="a" id="7">7</td>
                            <label for="7"></label>
                            <td class="a" id="8">8</td>
                            <label for="8"></label>
                            <td class="a" id="9">9</td>
                            <label for="9"></label>
                            <td class="a" id="10">10</td>
                            <label for="10"></label>
                        </tr>
                    </table><br>
                    <div class="note_div" align=center>
                        <h3 class="little_title">Note</h3>
                        <p>Très dur</p>
                    </div>
                  </div>
                  <div class="work_no">
                    <h1>Séances à venir</h1>
                    <p id="job">Type: date et heure + bouton déttail pop up</p>
                  </div>

                </div><br>
            <div class= "evolution">
                <h1>Evolution</h1>
            </div><br><br><br>
            <div class="documentary">
                <h1>Documentation</h1>
            </div><br>
            </div>
        </div>
    </body>
</html>   