/*Début de la barre de navigation*/
body{
    --orange:#FF8C00;
    --sucess:#4bb544;
    --error:#cc3333;
    --orangeFoncé:#bb7a0a;
    --focus:#009579;


    padding: 0px;
    margin: 0px;
}

.body_div {
    margin-top: 50px;
}

.topnav {
    background-color: var(--orange);
    overflow: hidden;
    width: 100%;
    float: left;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
}

.people, .moon {
    height: 1.75rem;
    width: 2rem;
}

.nav_second {
    width: 3.8rem;
}

.nav_people {
    width: 2.76rem;
}

.nav_text {
    text-align: left;
}

.topnav a {
    width: 7rem;
}

.topnav a:hover {
    background-color: crimson;
    color: white;
    height: 1.70rem;
}

.topnav a.active {
    background-color: var(--orangeFoncé);
    color: white;
}
  
.svg {
    width: 2rem;
    fill: white;
}

.svg_ball {
    width: 2rem;
    height: 1.75rem;
}

/*Fin du menu de sélection*/
/*Début connexion et inscription*/

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ffffff;
}

.container,
.form_input,
.form_button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success {
    color: var(--sucess);
}

.form_message-error {
    color: var(--error);
    text-align: center;
}

.form_input-group {
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, 0.2s;
    user-select: none;
}

.form_input:focus {
    border-color: #009579;
    background: #ffffff;
}

.form_input-error {
    color: var(--error);
    border-color: var(--error);
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--error);
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: var(--orange);
}

.form_button:hover {
    background: var(--orangeFoncé);
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

/*Fin connexion et inscription*/
/*Début de la page d'entrainement*/

.create_workout_button {
    display: inline-block;
    width: 30%;
}

.container_button_workout {
    width: 100%;
}

.button_change {
    float: right;
}

.button_see {
    margin-left: 5%;
    margin-right: 2.5%;
}

.addExercice {
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.addExercice:active {
    transform: scale(0.99);
}

.calender_div {
    margin-left: 4%;
    margin-right: 5%;
    border: 1px solid black;
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.plus {
    display: inline-block;
    cursor: pointer;
}


.delete {
    margin: 5px;
    width: 50px;
    border-radius: 30%;
}

.delete:hover {
    cursor: pointer;
}

.delete:active {
    transform: scale(0.98);
}

.icon {
    margin-bottom: -0.25%;
}

.body_div h1{
    font-size: 1.5rem;
    text-align: center;
}

.calender_div, .work_yes, .work_no, .evolution, .documentary{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    width: 95%;
    max-width: 95%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.calender_div {
    width: 92.5%;
}

.work_div {
    border: 1px solid black;
}

.work_yes {
    width: 42%;
    margin-right: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-left: 2%;
    display: inline-block;
}

.work_no {
    float: right;
    width: 42%;
    margin-left: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-right: 3%;
}

.evolution {
    margin-top: 1rem;
    display: inline-block;
}

.exerciceChoice, .ExerciceChoice {
    text-decoration: none;
    border: none;
    text-align: center;
    margin-left: 45%;
    font-weight: bold;
    font-size: 1.5rem;
}

.yes {
    border-radius: 15px;
    border: none;
    color: white;
    background-color: crimson;
}

.do_work li{
    display: inline-block;
    width: 6rem;
    padding: 1rem 2rem;
    margin: 0;
    border: 1px solid black;
}

.do_work li:hover{
    cursor: pointer;
}

.yes {
    background-color: green;
    color: white;
    border-color:green;
    text-align: center;
}

.yes:hover {
    background-color: rgb(14, 88, 14);
}

.yes:active {
    transform: scale(0.98);
}

.little {
    background-color: orange;
    color: white;
    border-color: orange;
    text-align: center;
}

.little:hover{
    background-color: var(--orangeFoncé);
}

.little:active {
    transform: scale(0.98);
}

.no {
    background-color: red;
    color: white;
    border-color: red;
    text-align: center;
}

.no:hover{
    background-color: rgb(158, 4, 4);
}

.no:active {
    transform: scale(0.98);
}


.dif:checked + label {
    background-color: rgb(2, 2, 185); 
    border-color: rgb(1, 1, 68);
    color: white;
}

.dif {
    display: none;
}

.difficulty label{
    margin: auto;
    border: 1px solid black;
}

.dif + label{
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    user-select: none;
}

.dif:hover + label{
    cursor: pointer;
}

.dif_start + label{
    margin-left: 20%;
}

.little_title{
    text-align: center;
    padding-top: 0.3rem;
}

.note_div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 15rem;
    margin: auto;  

}

.button_create {
    border-radius: 15px;
    color: white;
    background-color: crimson;
    border: none;
    height: 5%;
    width: 50%;
    cursor: pointer;
}

.button_create:active {
    transform: scale(0.98);
}

.display_workout {
    border: 1px solid black;
}

.button_see, .button_change {
    border-radius: 10px;
    color: white;
    background-color: tomato;
    border: none;
    width: 25%;
    height: 5%;
    cursor: pointer;
}

.button_see:active, .button_change:active, .value_button:active {
    transform: scale(0.98);
}

.value_button {
    text-align: center;
    color: white;
    background-color: steelblue;
    border: none;
    padding: 2% 8%;
    border-radius: 20px;
    margin: auto;
}

.work_done + label{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.work_done {
    display: none;
}

.yes:checked + label{
    color: white;
    background-color: green;
}

.yes + label {
    float: right;
    text-align: center;
    margin-right: 20%
}

.no + label {
    float: right;
    text-align: center;    
    margin-right: 5%;
}

.little + label {
    float: right;
    text-align: center;  
    margin-right: 5%;  
}

.little:checked + label{
    color: white;
    background-color: orange;
}

.no:checked + label{
    color: white;
    background-color: red;
}

.training_modal, .see_training_modal, .table_intensity_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.modal_training_content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .table_intensity_content {
    width: 30%;
    height: 500px;
    border: 1px solid #888;
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
  }

  .training_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .training_close:hover,
  .training_close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .table_intensity {
      border-collapse: collapse;
      border: 3px solid black;
      width: 100%;
      text-align: center;
  }

  .table_intensity td {
      border: 1px solid black;
      font-size: 1.5rem;
  }

  .table_intensity th, .table_intensity .intensity_9{
    color: white;
    background-color: black;
}

.table_intensity .intensity_8{
    color: white;
    background-color: crimson;
}

.table_intensity .intensity_7{
    color: white;
    background-color: red;
}

.table_intensity .intensity_6{
    color: white;
    background-color: chocolate;
}

.table_intensity .intensity_5{
    background-color: coral;
}

.table_intensity .intensity_4{
    background-color: darksalmon;
}

.table_intensity .intensity_3{
    background-color: yellow;
}

.table_intensity .intensity_2{
    background-color: #5bad81;
}

.table_intensity .intensity_1{
    background-color: #7ae2ab ;
}

.table_intensity .intensity_0{
    background-color:   #b2fed6;
}

.intensity_title {
    cursor: pointer;
    font-size: 1.2rem;
}

.select-box, .select-box2, .select-box3, .select-box4, .select-box5 {
    position: relative;
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: auto;
  }
  
  .select-box .options-container, .select-box2 .options-container2, .select-box3 .options-container3, .select-box4 .options-container4, .select-box5 .options-container5{
    background: var(--orange);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected, .selected2, .selected3, .selected4, .selected5 {
    background: var(--orange);
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    order: 0;
  }
  
  .selected::after, .selected2::after, .selected3::after, .selected4::after , .selected5::after  {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .content_exercice {
    border: 1px solid black;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content_exercice1, .content_exercice2, .content_exercice3, .content_exercice4, .content_exercice5 {
    display: none;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


  .select-box .options-container.active, .select-box2 .options-container2.active, .select-box3 .options-container3.active,
  .select-box4 .options-container4.active, .select-box5 .options-container5.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
  }
  
  .select-box .options-container.active + .selected::after, .select-box2 .options-container2.active + .selected2::after,
  .select-box3 .options-container3.active + .selected3::after, .select-box4 .options-container4.active + .selected4::after,
  .select-box5 .options-container5.active + .selected5::after{
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar, .options-container2::-webkit-scrollbar, .options-container3::-webkit-scrollbar,
  .options-container4::-webkit-scrollbar,  .options-container5::-webkit-scrollbar{
    width: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb, .options-container2::-webkit-scrollbar-thumb, .options-container3::-webkit-scrollbar-thumb,
  .options-container4::-webkit-scrollbar-thumb,  .options-container5::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected, .select-box2 .option2, .selected2,
  .select-box3 .option3, .selected3, .select-box4 .option4, .selected4, .select-box5 .option5, .selected5  {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover, .select-box2 .option2:hover, .select-box3 .option3:hover,
  .select-box4 .option4:hover, .select-box5 .option5:hover {
    background: crimson;
  }
  
  .select-box label, .select-box2 label, .select-box3 label, .select-box4 label, .select-box5 label{

    cursor: pointer;
  }
  
  .select-box .option .radio, .select-box2 .option2 .radio, .select-box3 .option3 .radio,
  .select-box4 .option4 .radio, .select-box5 .option5 .radio{ 
    display: none;
  }
  
  /* Searchbox */
  
  .search-box input, .search-box2 input, .search-box3 input, .search-box4 input, .search-box5 input {
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid crimson;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .search-box input:focus, .search-box2 input:focus, .search-box3 input:focus, .search-box4 input:focus, .search-box5 input:focus {
    outline: none;
  }
  
.select-box .options-container.active ~ .search-box input,
.select-box2 .options-container2.active ~ .search-box2 input,
.select-box3 .options-container3.active ~ .search-box3 input,
.select-box4 .options-container4.active ~ .search-box4 input,
.select-box5 .options-container5.active ~ .search-box5 input {
    opacity: 1;
    pointer-events: auto;
}

.precisionEx {
    border: 1px solid green;
}

.exPart1 {
    width: 49.8%;
    float: left;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
}

.exPart2 {
    width: 47.8%;
    float: right;
    height: 20%;
    margin-top: 2%;
}

.content_precision {
    display: inline-block;
    font-size: 1.2rem;
    width: 100%;
}

.number_exercice {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.number_line {
    width: 80%;
    color: black;
}
 .option input[type = radio] {
    color: green;
}

.background_img {
    background: url(/public/images/running.jpg) no-repeat;
    display: block;
    float: left;
}

/*Fin de la page d'entrainement*/
/*Début de la page d'accueil*/

.test {
    color: blue;
    font-size: 1.2rem;
}

/*Fin de la page d'accueil*/
/*Début de la page de sommeil*/

.etirement {
    max-width: 15rem;
}

.conseil {
    color: darkblue;
}

.sleep_table_time tr:nth-child(odd) {
    background-color: #eee;
}

.gras {
    font-weight: bold;
}

.Medit {
    width: 1rem;
    margin-right: 50px;
    border: 2px solid black;
}

.img td {
    border: none;
}

.Medite {
    width: 1rem;
    margin-left: 50px;
    border: 2px solid black;
}

h3 {
    text-align: center;
} 

.sleep_align {
    margin-left: 3%;
    margin-right: 3%;
}

.sleep_quality, .shower, .meditation {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.sleep_table_time {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
}

.sleep_table_time td{
    width: 9rem;
    border: 1px solid black;
    padding: 10px 20px;
}

.coldShower {
    width: 500px;
    border: 2px solid black;
}

.sleep_div_img {
    float: left;
    margin-left: 5%;
}

.sleep_div_text {
    width: 30%;
    float: right;
    margin-right: 10%;
    font-size: 1.3rem;
    margin-top: -1%;
}

.shower, .meditation {
    height: 500px;
}

.table_stretch {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid black;
    text-align: center;
}

.table_stretch td, th{
    border: 1px solid black;
    padding: 20px 30px;
}

.stretch_title {
    background-color: blueviolet;
    color: white;
}

.stretch_color {
    background-color: #eee;
}

/*Fin de la page de sommeil*/
/*Début de la page d'alimentation*/

.calorie, .needed {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.count_calorie {
    float: left;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 1rem 2rem;
    display: block;
    width: 30%;
    padding: 0.75rem;
    box-sizing: border-box;
    outline: none;
    transition: background 0.2s, border-color 0.2s;
    margin-left: 20%;
}

.count_calorie:focus {
    border-color: var(--focus);
    background-color: #ffffff;
}

.ok_count_calorie {
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: #ffffff;
    color: green;
    border: 1px solid green;
    float: right;
    margin-right: 40%;
    margin-top: -0.3%;
}

.reset_count_calorie {
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
    float: left;
    margin-left: 5%;
    margin-top: -8%;
}

.reset_count_calorie:active {
    transform: scale(0.98);
}

.ok_count_calorie:hover {
    cursor: pointer;
    user-select: none;
}

.ok_count_calorie:active {
    transform: scale(0.98);
    border: 1px solid var(--focus);
    background-color: var(--focus);
    color: white;
}

.result_count_calorie {
    margin: auto;
    margin-top: 3%;
    border: 1px solid black;
    border-radius: 15px;
    width: 10%;
    text-align: center;
    padding: 1% 1%;
}



.calorie h3 {
    margin-top: 3%;
}

/*Fin de la page d'alimentation*/
/*Début de la page de profil*/


.profil_box {
    float: left;
    width: 40%;
    max-width: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
    margin-top: -20%
}

.second_box {
    float: right;
    width: 40%;
    max-width: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    margin-right: 3%;
    margin-top: -20%
}

.profil_box h2{
    text-align: center;
}

.second_box h2{
    text-align: center;
}

.changePWD {
    margin: 1rem;
}

.changePWD input {
        display: block;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #dddddd;
        outline: none;
        background: #eeeeee;
        transition: background 0.2s, border-color 0.2s;
}
    
.changePWD input:focus {
    border-color: var(--focus);
    background: #ffffff;
}

.input_submit {
    width: 50%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: var(--orange);
    margin-left: 25%;
    display: block;
}

.input_submit:hover {
    background: var(--orangeFoncé);
}

.input_submit:active {
    transform: scale(0.98);
}


.deco {
    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: red;
    vertical-align: middle;
}

.deco:hover{
    background-color: rgb(158, 4, 4);
}

.deco:active {
    transform: scale(0.98);
}

.svg_workout {
    fill: white;
}

.svg_ball {
    width: 2.75rem;
    height: 1.75rem;
}

.input_deco {
    border: none;
    display: block;
    margin: auto;
    background-color: white;
    margin-top: 15%;
}
  
