/*Début de la barre de navigation*/
body {
    --orange:#FF8C00;
    --sucess:#4bb544;
    --error:#cc3333;
    --orangeFoncé:#bb7a0a;
    --focus:#009579;
    --hoverRed:rgb(158, 4, 4);
    --createGreen: #4bb544;
    --createGreenDark: #337e2d;
    --workoutButton: #da7e5e;
    --workoutButtonDark: #90513b;
    --valueButton: steelblue;
    --valueButtonDark: #2d357c;

    padding: 0px;
    margin: 0px;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    border: 1px solid black;
    background-color: red;
}

.navbar a {
    text-align: center;
    color: white;
    width: 20%;
    height: 50px;
}

.navbar a:hover {
    background-color: green;
}

.navbar a i {
    margin-top: 25px;
}

/*Fin du menu de sélection*/
/*Début connexion et inscription*/

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ffffff;
}

.container,
.form_input,
.form_button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success {
    color: var(--sucess);
}

.form_message-error {
    color: var(--error);
    text-align: center;
}

.form_input-group {
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, 0.2s;
    user-select: none;
}

.form_input:focus {
    border-color: #009579;
    background: #ffffff;
}

.form_input-error {
    color: var(--error);
    border-color: var(--error);
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--error);
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: var(--orange);
}

.form_button:hover {
    background: var(--orangeFoncé);
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

/*Fin connexion et inscription*/
/*Début de la page d'entrainement*/

.addExercice {
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.addExercice:active {
    transform: scale(0.99);
}

.calender_div {
    margin-left: 4%;
    margin-right: 5%;
    border: 1px solid black;
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.plus {
    display: inline-block;
    cursor: pointer;
}


.delete {
    margin: 5px;
    width: 50px;
    border-radius: 30%;
}

.delete:hover {
    cursor: pointer;
}

.delete:active {
    transform: scale(0.98);
}

.icon {
    margin-bottom: -0.25%;
}

.body_div h1{
    font-size: 1.5rem;
    text-align: center;
}

.calender_div, .evolution, .documentary{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    width: 95%;
    max-width: 95%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.calender_div {
    width: 92.5%;
}

.work_yes {
    width: 42%;
    margin-right: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-left: 2%;
    display: block;
    float: left;
}

.work_no {
    display: block;
    float: right;
    width: 42%;
    margin-left: 2%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-right: 3%;
}

.evolution {
    margin-top: 1rem;
    display: inline-block;
}

.exerciceChoice, .ExerciceChoice {
    text-decoration: none;
    border: none;
    text-align: center;
    margin-left: 45%;
    font-weight: bold;
    font-size: 1.5rem;
}

.yes {
    border-radius: 15px;
    border: none;
    color: white;
    background-color: crimson;
}

.do_work li{
    display: inline-block;
    width: 6rem;
    padding: 1rem 2rem;
    margin: 0;
    border: 1px solid black;
}

.do_work li:hover{
    cursor: pointer;
}

.yes {
    background-color: green;
    color: white;
    border-color:green;
    text-align: center;
}

.yes:hover {
    background-color: rgb(14, 88, 14);
}

.yes:active {
    transform: scale(0.98);
}

.little {
    background-color: orange;
    color: white;
    border-color: orange;
    text-align: center;
}

.little:hover{
    background-color: var(--orangeFoncé);
}

.little:active {
    transform: scale(0.98);
}

.no {
    background-color: red;
    color: white;
    border-color: red;
    text-align: center;
}

.no:hover{
    background-color: rgb(158, 4, 4);
}

.no:active {
    transform: scale(0.98);
}


.dif:checked + label {
    background-color: rgb(2, 2, 185); 
    border-color: rgb(1, 1, 68);
    color: white;
}

.dif {
    display: none;
}

.difficulty label{
    border: 1px solid black;
}

.dif + label{
    padding: 0.3rem 1rem;
    border-radius: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    user-select: none;
}

.dif:hover + label{
    cursor: pointer;
}

.dif_start + label{
    margin-left: 20%;
}

.little_title{
    text-align: center;
    padding-top: 0.3rem;
}

.note_div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 15rem;
}

.button_see, .button_change {
    border-radius: 10px;
    color: white;
    background-color: tomato;
    border: none;
    width: 25%;
    height: 5%;
    cursor: pointer;
}

.button_see:active, .button_change:active, .value_button:active {
    transform: scale(0.98);
}

.value_button {
    text-align: center;
    color: white;
    background-color: steelblue;
    border: none;
    padding: 3% 10%;
    border-radius: 25px;
    margin: auto;
    font-size: 1rem;
    display: block;
}

.work_done + label{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.work_done {
    display: none;
}

.yes:checked + label{
    color: white;
    background-color: green;
}

.yes + label {
    float: right;
    text-align: center;
    margin-right: 20%
}

.no + label {
    float: right;
    text-align: center;    
    margin-right: 5%;
}

.little + label {
    float: right;
    text-align: center;  
    margin-right: 5%;  
}

.little:checked + label{
    color: white;
    background-color: orange;
}

.no:checked + label{
    color: white;
    background-color: red;
}

.training_modal, .see_training_modal, .table_intensity_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

.modal_training_content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
  }
  
  .table_intensity_content {
    width: 30%;
    height: 500px;
    border: 1px solid #888;
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    display: none;
  }

  .training_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .training_close:hover,
  .training_close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .table_intensity {
      border-collapse: collapse;
      border: 3px solid black;
      width: 100%;
      text-align: center;
  }

  .table_intensity td {
      border: 1px solid black;
      font-size: 1.5rem;
  }

  .table_intensity th, .table_intensity .intensity_9{
    color: white;
    background-color: black;
}

.table_intensity .intensity_8{
    color: white;
    background-color: crimson;
}

.table_intensity .intensity_7{
    color: white;
    background-color: red;
}

.table_intensity .intensity_6{
    color: white;
    background-color: chocolate;
}

.table_intensity .intensity_5{
    background-color: coral;
}

.table_intensity .intensity_4{
    background-color: darksalmon;
}

.table_intensity .intensity_3{
    background-color: yellow;
}

.table_intensity .intensity_2{
    background-color: #5bad81;
}

.table_intensity .intensity_1{
    background-color: #7ae2ab ;
}

.table_intensity .intensity_0{
    background-color:   #b2fed6;
}

.intensity_title {
    cursor: pointer;
    font-size: 1.2rem;
}

.precisionEx {
    border: 1px solid green;
}

.exPart1 {
    width: 49.8%;
    float: left;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
}

.exPart2 {
    width: 47.8%;
    float: right;
    height: 20%;
    margin-top: 2%;
}

.content_precision {
    display: inline-block;
    font-size: 1.2rem;
    width: 100%;
}

.number_exercice {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.number_line {
    width: 80%;
    color: black;
}
 .option input[type = radio] {
    color: green;
}

.background_img {
    background: url(/public/images/running.jpg) no-repeat;
    display: block;
    float: left;
}

.title_workout {
    margin-left: 38%;
    text-decoration: underline;
}

.training_name {
    margin-left: 5%;
    float: left;
    display: block;
    width: 20%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, 0.2s;
    user-select: none;
    font-size: 1rem;
}

.training_name:active, .training_name:focus {
    background-color: white;
    border-color: red;
}

.training_date {
    float: right;
}

.send_workout {
    text-align: center;
    color: white;
    background-color: var(--createGreen);
    border: none;
    padding: 1% 10%;
    font-size: 1.1rem;
    border-radius: 20px;
    margin: auto;
    display: block;
    cursor: pointer;
}

.send_workout:hover {
    background-color: var(--createGreenDark);
}

.send_workout:active {
    transform: scale(0.98);
}

.intro_workout {
    display: flex;
    justify-content: space-around;
}

.type_exercice {
    width: 15%;
    padding: 0.5% 1%;
    font-size: 1rem;
}

.option_type {
    width: 150px;
}

.exercice_delete {
    color: white;
    background-color: red;
    border: none;
    padding: 1% 7%;
    border-radius: 15px;
    font-size: 1.1rem;
    margin-left: 37%;
}

.exercice_delete:active {
    transform: scale(0.98);
}

.exercice_delete:hover {
    background-color: var(--hoverRed);
    cursor: pointer;
}

/*Fin de la page d'entrainement*/
/*Début de la page d'accueil*/

.workout_day_box, .evolution_home_box, .workout_rpe_box {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: column;
}

.workout_day_title {
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: white;
    background-color: var(--workoutButton);
}

.workout_meal_title {
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: white;
    background-color: green;
}

.home_difficulty {
    display: flex;
    width: 39%;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.value_home_button {
    text-align: center;
    color: white;
    background-color: var(--valueButton);
    border: none;
    display: flex;
    padding: 1% 8%;
    border-radius: 25px;
    margin: auto;
    font-size: 1rem;
    justify-content: center;
    cursor: pointer;
}

.value_home_button:hover {
    background-color: var(--valueButtonDark);
}

.value_home_button:active {
    transform: scale(0.98);
}

.select_home_page {
    width: 250px;
    font-size: 1rem;
}

.select_home_box {
    display: flex;
    justify-content: center;
}

.workout_meal_calories {
    margin-top: 25px;
}


.home_ok_count_calorie {
    padding: 1rem 1rem;
    margin-left: 8%;
    border-radius: 25px;
    background-color: var(--createGreen);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.home_ok_count_calorie:hover {
    background-color: var(--createGreenDark);
}

.home_ok_count_calorie:active {
    transform: scale(0.98);
}

.count_calorie_box {
    display: flex;
}

.home_result_count_calorie {
    margin: auto;
    margin-top: 3%;
    border: 1px solid black;
    border-radius: 15px;
    width: 10%;
    text-align: center;
    padding: 1% 1%;
    order: 2;
    justify-content: center;
}

.home_reset_count_calorie {
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: red;
    color: white;
    border: none;
    font-size: 1rem;
    order: 1;
    margin-left: 15%;
    cursor: pointer;
}

.home_reset_count_calorie:hover {
    background-color: var(--hoverRed);
}

.home_reset_count_calorie:active {
    transform: scale(0.98);
}


/*Fin de la page d'accueil*/
/*Début de la page de sommeil*/

.etirement {
    max-width: 15rem;
}

.conseil {
    color: darkblue;
}

.sleep_table_time tr:nth-child(odd) {
    background-color: #eee;
}

.gras {
    font-weight: bold;
}

.Medit {
    width: 1rem;
    margin-right: 50px;
    border: 2px solid black;
}

.img td {
    border: none;
}

.Medite {
    width: 1rem;
    margin-left: 50px;
    border: 2px solid black;
}

h3 {
    text-align: center;
} 

.sleep_align {
    margin-left: 3%;
    margin-right: 3%;
}

.sleep_quality, .shower, .meditation {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.sleep_table_time {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
}

.sleep_table_time td{
    width: 9rem;
    border: 1px solid black;
    padding: 10px 20px;
}

.coldShower {
    width: 500px;
    border: 2px solid black;
}

.sleep_div_img {
    float: left;
    margin-left: 5%;
}

.sleep_div_text {
    width: 30%;
    float: right;
    margin-right: 10%;
    font-size: 1.3rem;
    margin-top: -1%;
}

.shower, .meditation {
    height: 500px;
}

.table_stretch {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid black;
    text-align: center;
}

.table_stretch td, th{
    border: 1px solid black;
    padding: 20px 30px;
}

.stretch_title {
    background-color: blueviolet;
    color: white;
}

.stretch_color {
    background-color: #eee;
}

/*Fin de la page de sommeil*/
/*Début de la page d'alimentation*/

.calorie, .needed {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.count_calorie {
    float: left;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #eeeeee;
    padding: 1rem 2rem;
    display: block;
    width: 30%;
    padding: 0.75rem;
    box-sizing: border-box;
    outline: none;
    transition: background 0.2s, border-color 0.2s;
    margin-left: 20%;
    font-size: 1rem;
}

.count_calorie:focus {
    border-color: var(--focus);
    background-color: #ffffff;
}

.ok_count_calorie {
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: 1px solid green;
    float: right;
    margin-right: 40%;
    margin-top: -0.3%;
}

.reset_count_calorie {
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
    float: left;
    margin-left: 5%;
    margin-top: -8%;
}

.reset_count_calorie:active {
    transform: scale(0.98);
}

.ok_count_calorie:hover {
    cursor: pointer;
    user-select: none;
}

.ok_count_calorie:active {
    transform: scale(0.98);
    border: 1px solid var(--focus);
    background-color: var(--focus);
    color: white;
}

.result_count_calorie {
    margin: auto;
    margin-top: 3%;
    border: 1px solid black;
    border-radius: 15px;
    width: 10%;
    text-align: center;
    padding: 1% 1%;
}

.calorie h3 {
    margin-top: 3%;
}

.not_workout {
    text-align: center;
}

/*Fin de la page d'alimentation*/
/*Début de la page de profil*/


.informations_box {
    display: flex;
    justify-content: space-between;
}

.informations_box p {
    margin-left: 5px;
}

.profil_box {
    margin-left: 5%;
    width: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.password_box {
    margin-right: 5%;
    width: 40%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}


.changePWD {
    margin: 1rem;
}

.profil_title {
    font-size: 2rem;
    text-align: center;
}

.changePWD input {
        display: block;
        width: 100%;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #dddddd;
        outline: none;
        background: #eeeeee;
        transition: background 0.2s, border-color 0.2s;
}
    
.changePWD input:focus {
    border-color: var(--focus);
    background: #ffffff;
}

.input_submit {
    width: 50%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: var(--orange);
    margin-left: 25%;
    display: block;
}

.input_submit:hover {
    background: var(--orangeFoncé);
}

.input_submit:active {
    transform: scale(0.98);
}

.disconnect {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: red;
    font-size: 0.7rem;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.disconnect:hover{
    background-color: var(--hoverRed);
}

.disconnect:active {
    transform: scale(0.98);
}

.hr_line {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .hr_line::before,
  .hr_line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .hr_line:not(:empty)::before {
    margin-right: .25em;
  }
  
  .hr_line:not(:empty)::after {
    margin-left: .25em;
  }
  
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
    border: 1px solid black;
    display: none;
    padding: 5px;
    margin-top: 200px;
}

.wrapper header.active{
    cursor: move;
    user-select: none;
}
.wrapper .content{
    display: flex;
    padding: 30px 30px 40px 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.content .icon{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 5px solid #6F36FF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .icon i{
    color: #6F36FF;
    font-size: 60px;
}
.content .title{
    margin: 15px 0;
    font-size: 29px;
    font-weight: 500;
}
.content p{
    font-size: 16px;
    text-align: center;
}

.wrapper_close {
    color: #aaa;
    float: right;
    font-size: 23px;
    font-weight: bold;
}

.wrapper_close:hover,
.wrapper_close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.wrapper_table, .wrapper_table tr, .wrapper_table tr td {
    border: 1px solid black;
    border-collapse: collapse;
}


.musculation {
    display: block;
}

.running {
    display: none;
}


/* La page de création d'entrainement*/

.rightJob, .leftJob {
    border: 1px solid black;
    display: block;
    max-width: 48%;
    width: 48%;
    border-radius: 20px;
}

.leftJob {
    float: left;
    margin-left: 1%;
}

.rightJob {
    float: right;
    margin-right: 1%;
}

.tableJob tr .exerciceJob{
    border: 1px solid black;
    padding: 0.9% 1%;

}

.tableJob {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    text-align: center;
}

.exerciceJob {
    width: 15%;
}

.exercice {
    width: 55%;
}


.addJob {
    text-align: center;
    color: white;
    background-color:var(--createGreen);
    border: none;
    padding: 2% 10%;
    border-radius: 20px;
    margin: auto;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}

.addJob:hover {
    background-color: var(--createGreenDark);
}

.addJob:active {
    transform: scale(0.98);
}

.selectExerciceJob {
    margin: auto;
    display: block;
    width: 35%;
    padding: 1% 5%;
    font-size: 1rem;
}   

.selectDeleteJob {
    width: 35%;
    padding: 1% 5%;
    font-size: 1rem;
    margin-left: 15%;
    margin-right: 10%;
}

.buttonDeleteJob {
    text-align: center;
    color: white;
    background-color: red;
    border: none;
    padding: 2% 10%;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.buttonDeleteJob:hover {
    background-color: var(--hoverRed);
}

.buttonDeleteJob:active {
    transform: scale(0.98);
}

.planWorkout {
    padding: 10px 90px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: var(--workoutButton);
    font-size: 1rem;
    cursor: pointer;
    width: 400px;
}

.planWorkout:hover {
    background-color: var(--workoutButtonDark);
}

.planWorkout:active {
    transform: scale(0.98);
}

.changeWorkout {
    padding: 10px 90px;
    width: 400px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: var(--workoutButton);
    font-size: 1rem;
    cursor: pointer;
}

.changeWorkout:hover {
    background-color: var(--workoutButtonDark);
}

.changeWorkout:active {
    transform: scale(0.98);
}

.selectPage {
    font-size: 1rem;
    width: 250px;
    margin-right: 25px;
    margin-left: 150px;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-direction: row;
}

.exerciceDelete {
    border: none;
}

.trash {
    color: black;
}
