body{
    padding: 0px;
    margin: 0px;
}

.topnav {
    background-color: #FF8C00;
    overflow: scroll;
    position: fixed;
    bottom: 0;
    width: 100%;
    float: left;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 3% 4.13%;
    text-decoration: none;
}

.people, .moon {
    height: 1.75rem;
}

.nav_second {
    width: 14.7%;
}

.nav_people {
    width: 10.6%;
}

.nav_text {
    text-align: left;
}
  
.topnav a:hover {
    background-color: crimson;
    color: white;
    height: 1.75rem;
}
  
    .topnav a.active {
    background-color: #bb7a0a;
    color: white;
  }
  
  .svg {
    width: 2rem;
    fill: white;
}

/*Fin du menu de sélection*/
/*Début connexion et inscription*/



.container {
    width: 400px;
    max-width: 400px; 
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ffffff;
}

.container,
.form_input,
.form_button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success {
    color: #4bb544;
}

.form_message-error {
    color: #cc3333;
    text-align: center;
}

.form_input-group {
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
    border-color: #009579;
    background: #ffffff;
}

.form_input-error {
    color: #cc3333;
    border-color: #cc3333;
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #cc3333;
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #FF8C00;
}

.form_button:hover {
    background: #bb7a0a;
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: #252c6a;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

/*Fin connexion et inscription*/
/*Début de la page d'entrainement*/

.button_create {    
    width: 100%;
    border-radius: 20px;
    color: white;
    background-color: chocolate;
    border: none;
    height: 5%;
    font-weight: bold;
}

.button_create:active, .button_see:active, .button_change:active {
    transform: scale(0.98);
}

.display_workout {
    border: 1px solid black;
    text-align: center;
}

.button_see, .button_change {
    width: 45%;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: crimson;
    height: 3%;
    font-weight: bold;
}

.addExercice {
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.button_change {
    margin-left: 8.8%;
}

.addExercice:active {
    transform: scale(0.99);
}

.plus {
    display: inline-block;
    cursor: pointer;
}

.content_exercice {
    border: 1px solid red;
}

.icon {
    margin-bottom: -0.25%;
}


.training_modal, .see_training_modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal_training_content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
  
.training_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.training_close:hover,
.training_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.calender_div {
    margin-left: 4%;
    margin-right: 5%;
    border: 1px solid black;
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.body_div h1{
    font-size: 1.5rem;
    text-align: center;
}

.calender_div, .work_yes, .work_no, .evolution, .documentary{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    max-width: 85%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.calender_div {
    width: 92.5%;
}

.work_yes {
    width: 35rem;
    margin-right: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-left: 2%;
    display: inline-block;
}

.evolution {
    margin-top: 1rem;
    display: inline-block;
}

.yes {
    border: 1px solid black;
}

.difficulty td{
    width: 30px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
}

.difficulty td:hover {
    background-color: rgb(2, 2, 185);
    color: white;
    border-color: rgb(1, 1, 68);
    cursor: pointer;
}

.difficulty td:active {
    transform: scale(0.95);
}

.little_title{
    text-align: center;
    padding-top: 0.3rem;
}

.note_div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);    
    height: 15rem;
    margin: 2rem;  
}



/*Fin de la page d'entrainement*/
/*Début de la page d'accueil*/

#entrainement {
    padding: 20px 30px;
}

#entrainement .muscu {
    background-color: orange;
}

#entrainement .aérobie {
    background-color: green;
}

.aérobie, .muscu {
    padding: 20px 30px;
}

#programme, #Evolution, #Calorie, #Forme, #Repas {
    border: 1px solid black;
}

#auj {
    text-align: center;
} 

/*Fin de la page d'accueil*/
/*Début de la page de sommeil*/

.table_stretch {
    border-collapse: collapse;
    border: 1px solid black;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
}

.table_stretch th, td {
    border: 1px solid black;
    text-align: center;
}

.conseil {
    color: darkblue;
}

.sleep_table_time tr:nth-child(odd) {
    background-color: #eee;
}

.gras {
    font-weight: bold;
}


h3 {
    text-align: center;
} 

.sleep_align {
    margin-left: 3%;
    margin-right: 3%;
}

.sleep_quality, .shower, .meditation{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.sleep_table_time {
    border-collapse: collapse;
    margin: auto;
}

.sleep_table_time td{
    width: 9rem;
    padding: 0.8rem 1.6rem;
}


.coldShower {
    width: 95%;
    margin-left: 2%;
    border: 2px solid black;
}

.stretch_title {
    background-color: blueviolet;
    color: white;
}

.stretch_color {
    background-color: #eee;
}

/*Fin de la page de sommeil*/
/*Début de la page d'alimentation*/

.calorie, .needed, .help{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.ok_count_calorie {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid rgb(34, 99, 62);
    background-color: white;
    padding: 3% 5%;
    color: seagreen;
    user-select: none ;
    margin-bottom: -5%;
}

.ok_count_calorie:active {
    transform: scale(0.96);
}

.reset_count_calorie {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid rgb(182, 4, 4);
    padding: 3% 5%;
    color: red;
    user-select: none;
    background-color: white;
    margin-left: 3%;
    margin-top: -10%;
    margin-bottom: 3%;
}

.reset_count_calorie:active {
    transform: scale(0.98);
}

.count_calorie {
    width: 50%;
    margin-left: 12%;
    padding: 3% 5%;
    background-color: #dddddd;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    border-color: black;
}

.count_calorie:focus {
    background-color: white;
    border-color: seagreen;
}

.result_count_calorie {
    border-radius: 10px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
    margin: auto;
    padding: 2% 4%;
}

.meal_align {
    margin-left: 3%;
    margin-right: 3%;
}

.meal_glucide {
    width: 95%;
    margin-left: 2%;
    border: 2px solid black;
}


.subtitles {
    color: darkgreen;
    font-size: 1.2rem;
}

.subtext {
    margin-left: 4%;
    margin-right: 3%;
}

.meal_number {
    border: 1px solid black;
    background-color: whitesmoke;
    color: red;
}

.meal_number .number_list li {
    margin-left: 8%;
}

.meal_title {
    margin-left: 2%;
    text-decoration: underline;
    color: rgb(14, 88, 14);
}

.meal_middle_title {
    font-size: 1.2rem;
    text-decoration: underline;
    margin-left: 2%;
}

.meal_table {
    border: 1px solid black;
    border-collapse: collapse;
}

.meal_table th {
    color: white;
    background-color: olivedrab;
}

.meal_title_conclusion {
    color:rgb(182, 4, 4);
    margin-right: 2%;
    font-weight: bold;
    font-size: 2rem;
}

.meal_conclusion {
    color: red;
    margin-left: 2%;
    margin-right: 2%;    
}

.table_planning_meal {
    max-width: 100%;
    width: 100%;
    font-size: 0.8rem;
    border-collapse: collapse;
}

.table_planning_meal td {
    padding: 1rem 0rem;
    border-top: 1px solid black;
    max-width: 25%;
    width: 25%;
    color: slategray;
}

.table_planning_meal th {
    padding: 0.8rem 0.8rem;
    border-top: 1px solid black;
    max-width: 25%;
    width: 25%;
}

.meal_color {
    background-color: #eee;
}

/*Fin de la page d'alimentation*/
/*Début de la page de profil*/

.big_box {
    margin-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.profil_box h2{
    text-align: center;
}

.second_box h2{
    text-align: center;
}

.changePWD {
    margin: 1rem;
}

.changePWD input {
        display: block;
        width: 80%;
        padding: 0.75rem;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #dddddd;
        outline: none;
        background: #eeeeee;
        transition: background 0.2s, border-color 0.2s;
    }
    
.changePWD input:focus {
    border-color: #009579;
    background: #ffffff;
}

.input_submit {
    width: 50%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #FF8C00;
    margin-left: 50%;
    display: block;
}

.input_submit:hover {
    background: #bb7a0a;
}

.input_submit:active {
    transform: scale(0.98);
}


.deco {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: red;
    display: block;
    float: right;
}

.deco:hover{
    background-color: rgb(158, 4, 4);
}

.deco:active {
    transform: scale(0.98);
}

.svg_workout {
    fill: white;
}

.svg_ball {
    width: 2.75rem;
    height: 1.75rem;
}

.input_deco {
    border: none;
    display: block;
    float: right;
    background-color: white;
}


.select-box {
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 90%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  
  /* Searchbox */
  
  .search-box input {
    width: 90%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;
  
    opacity: 0;
    pointer-events: none;
  }
  
  .search-box input:focus {
    outline: none;
  }
  
  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }