body{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0px;
    padding: 0px;
}

 nav > ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li {
    float: left;
    position: relative;
    color: #fff; }

nav {
    width: 100%;
    background-color: #FF8C00;
}

nav > ul > li:hover {
    background-color: crimson;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 70px;
}

.home {
    width: 50px;
    margin-top: 1.5px;
}

.Home {
    padding: 0px 0px;
    padding-bottom: 2px;
}

.Home:hover {
    background-color: dimgrey;
}

.Ac:hover {
    background-color: dimgrey;
}

/*Fin des barres de sélections*/

.calender_div {
    margin-left: 4%;
    margin-right: 5%;
    border: 1px solid black;
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.body_div h1{
    font-size: 1.5rem;
    text-align: center;
}

.calender_div, .work_yes, .work_no, .evolution, .documentary{
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    width: 95%;
    max-width: 95%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);;
}

.calender_div {
    width: 92.5%;
}

.work_yes {
    width: 35rem;
    margin-right: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-left: 2%;
    display: inline-block;
}

.work_no {
    float: right;
    width: 35rem;
    margin-left: 3%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    margin-right: 3%;
    
}

.evolution {
    margin-top: 1rem;
    display: inline-block;
}


/*Liste fait ou pas*/
.do_work li{
    display: inline-block;
    width: 6rem;
    padding: 1rem 2rem;
    margin: 0;
    border: 1px solid black;
}

.do_work li:hover{
    cursor: pointer;
}


.yes {
    background-color: green;
    color: white;
    border-color:green;
    text-align: center;
}

.yes:hover {
    background-color: rgb(14, 88, 14);
}

.yes:active {
    transform: scale(0.98);
}

.little {
    background-color: orange;
    color: white;
    border-color: orange;
    text-align: center;
}

.little:hover{
    background-color: rgb(202, 112, 3);
}

.little:active {
    transform: scale(0.98);
}

.no {
    background-color: red;
    color: white;
    border-color: red;
    text-align: center;
}

.no:hover{
    background-color: rgb(158, 4, 4);
}

.no:active {
    transform: scale(0.98);
}

.difficulty td{
    width: 30px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
}

.difficulty td:hover {
    background-color: rgb(2, 2, 185);
    color: white;
    border-color: rgb(1, 1, 68);
    cursor: pointer;
}

.difficulty td:active {
    transform: scale(0.95);
}

.little_title{
    text-align: center;
    padding-top: 0.3rem;
}

.note_div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 31rem;
    height: 15rem;
    margin: 2rem;  
}

