body{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0px;
    padding: 0px;
}

 nav > ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li {
    float: left;
    position: relative;
    color: #fff; }

nav {
    width: 100%;
    background-color: #FF8C00;
}

nav > ul > li:hover {
    background-color: crimson;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 70px;
}

#Durée, #Qualite, #Douche, #Etirement, #Conseil {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.dur, .etirement th, td {
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

table th{
    background-color: blueviolet;
    color: #fff;
}

table td {
    color:blueviolet
}

.fonc {
    background-color: #ddd
}

body {
    background-color: indigo;
}

div {
    background-color: white;
}

#Douche, #Conseil, #Qualite {
    color: white;
    background-color: blueviolet;
}

.home {
    width: 50px;
    margin-top: 3px;
}

.Home {
    padding: 0px 0px;
    padding-bottom: 2px;
}

.Home:hover {
    background-color: dimgrey;
}

.Ac:hover {
    background-color: dimgrey;
}

#Align {
    padding-left: 10px;
    background-color: blueviolet;
    color: white;
}

.conseil {
    color: darkblue;
}

.dur tr:nth-child(odd) {
    background-color: #eee;
}

#Flex {
    padding-left: 20px;

}

.gras {
    font-weight: bold;
}

.Medit {
    width: 400px;
    margin-right: 50px;
    border: 2px solid black;
}

.img td {
    border: none;
}

.Medite {
    width: 400px;
    margin-left: 50px;
    border: 2px solid black;
}

h3 {
    margin-left: 5px;
}