body{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0px;
    padding: 0px;
}

 nav > ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li {
    float: left;
    position: relative;
    color: #fff; }

nav {
    width: 100%;
    background-color: #FF8C00;
}

nav > ul > li:hover {
    background-color: crimson;
}

.Ac:hover {
    background-color: dimgrey;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px 70px;
}

#entrainement {
    padding: 20px 30px;
}

#entrainement .muscu {
    background-color: orange;
}

#entrainement .aérobie {
    background-color: green;
}

.aérobie, .muscu {
    padding: 20px 30px;
}

#programme, #Evolution, #Calorie, #Forme, #Repas {
    border: 1px solid black;
}

.home {
    width: 50px;
    margin-top: 1.5px;
}

.Home {
    padding: 0px 0px;
    padding-bottom: 2px;
}

.Home:hover {
    background-color: dimgrey;
}

/*Date */
#auj {
    text-align: center;
}