   
<!--Pause, séries et répétitions pour le fractionné-->
<!--optgroup-->
<br>
<p>Le nombre de bornes, le temps, la vitesse, de ... a ..., exo en plus (burpees), vma + vitesse</p>


<input type="text" name="start" id="" value="">départ <br>
<input type="text" name="arrival" id="" value="">arrivée <br>
<input type="number" name="bounds" id=""  value="" min="0">Bornes <br>
<input type="number" name="time" id="" value="" min="0">Temps
<br><br>
<button type="submit" class="send_workout">Valider</button> 
</form>