<div class="content_exercice">  
    <p class="number_exercice">Exerice de course</p>
    <hr class="number_line"><br>
<div class="select-box">
<!--Pause, séries et répétitions pour le fractionné-->
<br>
<p>Le nombre de bornes, le temps, la vitesse, de ... a ..., exo en plus (burpees), vma + vitesse</p>

<input type="text" name="start" id="" value="">départ
<input type="text" name="arrival" id="" value="">arrivée
<input type="number" name="bounds" id=""  value="">Bornes
<input type="number" name="time" id="" value="">

</form>