<!-- Charge prévu, série, répétitions, pause, tricet, difficulté, description, distance, interval, 
temps, départ, arrivé-->
<% var t = Object.keys(userData.templates) %>

<% for (var l=0; l < t.length; l++) { %>
    <div id="<%=Object.keys(userData.templates)[l]%>" class="template" style="display: none;" >

        <% for (var m=0; m < userData.templates[t[l]].fields.length; m++) { %>
    
            <% if (userData.templates[t[l]].fields[m] == 'repetition') { %>
                <input type="number" name="repetition" placeholder="repetition">
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'serie') { %>
                <input type="number" name="serie" placeholder="serie">
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'pause') { %>
                <input type="number" name="pause" placeholder="pause">
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'charge') { %>
                <input type="number" name="charge" placeholder="charge">
            <% } %>

            <% if (userData.templates[t[l]].fields[m] == 'time') { %>
                <input type="number" name="time" placeholder="time">
            <% } %>

        <% } %>
    </div>
<% } %>

   

<input type="submit" value="Valider" class="addJob">