    <input type="number" name="fractionneBloc" class="training_name" value="" min="0" placeholder="Nombre de bloc">
    <input type="number" name="fractrionneDistance" class="training_name" value="" min="0" placeholder="Distance">
    <input type="number" name="fractionnePause" class="training_name" value="" min="0" placeholder="Temps de récupération">
    <input type="number" name="fractionneCourse" class="training_name" value="" min="0" placeholder="Nombre de course">

    <input type="text" name="fractionneDescription" placeholder="Description">
    <button>Valider</button>
    
