<p>Distance en un temps ou temps. Récup et nbre de bloc</p>

<form action="/workout/addFractionne" method="POST">
    <input type="number" name="bloc" class="training_name" value="" min="0" placeholder="Nombre de bloc">
    <input type="number" name="distance" class="training_name" value="" min="0" placeholder="Distance">
    <input type="number" name="recup" class="training_name" value="" min="0" placeholder="Temps de récupération">
    <input type="number" name="course" class="training_name" value="" min="0" placeholder="Nombre de course">

    <input type="text" name="description" placeholder="Description">
    <button>Valider</button>
</form>