    <span class="training_close" id="btnTable" onclick="intensity_div()">&times; Fermer</span>
    <h3>Degrès d'intensité</h3>
    
    <table class="table_intensity">
        <tr>
            <th>Echelle</th>
            <th>Description</th>
        </tr>
    
        <tr class="intensity_0">
            <td>0</td>
            <td>Très très facile</td>
        </tr>
        
        <tr class="intensity_1">
            <td>1</td>
            <td>Facile</td>
        </tr>
        
        <tr class="intensity_2">
            <td>2</td>
            <td>Moyennement facile</td>
        </tr>
        
        <tr class="intensity_3">
            <td>3</td>
            <td>Un peu dur</td>
        </tr>
        
        <tr class="intensity_4">
            <td>4</td>
            <td>Dur</td>
        </tr>
        
        <tr class="intensity_5">
            <td>5</td>
            <td></td>
        </tr>
        
        <tr class="intensity_6">
            <td>6</td>
            <td>Très dur</td>
        </tr>
        
        <tr class="intensity_7">
            <td>7</td>
            <td></td>
        </tr>
        
        <tr class="intensity_8">
            <td>8</td>
            <td>Extrêmement dur</td>
        </tr>
    
        <tr class="intensity_9">
            <td>9</td>
            <td>Maximal</td>
        </tr>
    </table>

