<input type="number" name="speedBloc" class="training_name" value="1" min="0" placeholder="Nombre de bloc">
<input type="number" name="speedDistance" class="training_name" value="1" min="0" placeholder="Distance">
<input type="number" name="speedRepetition" class="training_name" value="1" min="0" placeholder="Nombre de course">
<input type="number" name="speedPause" class="training_name" value="" min="0" placeholder="Temps de récupération">

<input type="text" name="speedDescription" placeholder="Description">
<button>Valider</button>

