<div class="">
    <div class="leftJob">

            <div class="select-box">


        
            </div>
        
            <div class="content_precision">
                <div class="exPart1">
                    Nombre de répétition:
                    <input type="number" name="repetition" id="" min="1" max="50" value="1" required><br><br>
        
                    Nombre de série:
                    <input type="number" name="serie" id="" min="1" max="10" value="1" required><br>
                </div>
        
                <div class="exPart2">
                    Repos:
        
                    <input type="number" name="repos" id="" min="0" value="30" required> Seconde
                    <br><br>
                </div>  
            </div>

            <input type="submit" value="Ajouter" class="addJob">
        
    </div>

    

</div>
