<form action="/workout/addSeance" method="POST">

    <input type="number" name="bloc" class="training_name" value="" min="0" placeholder="Nombre de bloc">
    <input type="number" name="distance" class="training_name" value="" min="0" placeholder="Distance">
    <input type="number" name="pause" class="training_name" value="" min="0" placeholder="Temps de récupération">

    <input type="text" name="description" placeholder="Description">
    <button>Valider</button>
    
</form>